<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a [routerLink]="['/home']">
                <img src="https://pbs.twimg.com/profile_images/1260427248106115072/M9ofqloN.png" alt="logo">
                <h1>ReserCoworking</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="Cadastros" nzIcon="form">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/usuario']">Usuário</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/perfil']">Perfil</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/premiacao']">Premiação</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/modalidadeEspaco']">Modalidade de Espaço</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/espaco']">Espaço</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Reservas" nzIcon="calendar">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a [routerLink]="['/reserva-espaco']">Reserva de Espaço</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </span>
                <a class="header-logout" (click)="logout()">
                    Sair
                </a>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>