<h1>Incluir Premiação</h1>
<form nz-form [formGroup]="premiacaoForm">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nome" nzRequired>Nome</nz-form-label>
    <nz-form-item>
        <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Informe o nome">
            <input nz-input id="nome" formControlName="nome" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="descricao" nzRequired>Descrição</nz-form-label>
    <nz-form-item>
        <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Informe a descrição">
            <input nz-input id="descricao" formControlName="descricao" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="pontosNecessarios">Pontos Necessários</nz-form-label>
    <nz-form-item>
        <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Informe os pontos necessários">
            <nz-input-number style="width: 100%;" formControlName="pontosNecessarios" id="pontosNecessarios" [nzMin]="0" [nzStep]="1"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="situacao">Situação</nz-form-label>
    <nz-form-item>
        <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Informe a situação">
            <nz-switch formControlName="situacao"></nz-switch>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
        <nz-form-control nz-col nzSm="2" nzXs="24">
            <button nz-button nzType="primary" (click)="salvar()">Salvar</button>
        </nz-form-control>
        <nz-form-control nz-col>
            <button nz-button nzType="default" (click)="voltar()">Voltar</button>
        </nz-form-control>
    </nz-form-item>
</form>