<h1>Incluir Usuário</h1>
<form nz-form [formGroup]="usuarioForm" (ngSubmit)="salvar()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nome" nzRequired>
            <span>Nome</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Informe o seu nome">
            <input nz-input id="nome" formControlName="nome" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="sobrenome" nzRequired>
            <span>Sobrenome</span>
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Informe o seu sobrenome">
            <input nz-input id="sobrenome" formControlName="sobrenome" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Informe seu e-mail">
            <input nz-input formControlName="email" id="email" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="senha" nzRequired>Senha</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Informe sua senha">
            <input nz-input type="password" id="senha" formControlName="senha"
                (ngModelChange)="updateConfirmValidator()" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="confirmacaoSenha" nzRequired>Confirmação de senha</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
            <input nz-input type="password" formControlName="confirmacaoSenha" id="confirmacaoSenha" />
            <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    Confirme sua senha!
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                    Senhas incompatíveis!
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="perfil" nzRequired>Perfil</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Informe o perfil">
            <nz-select formControlName="perfil">
                <nz-option *ngFor="let perfil of perfis" [nzValue]="perfil" [nzLabel]="perfil.nome"></nz-option>
              </nz-select>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Salvar</button>
        </nz-form-control>
        <!-- <nz-form-control [nzSpan]="20">
            <button nz-button nzType="default" >Voltar</button>
        </nz-form-control> -->
    </nz-form-item>
</form>