<h1>Incluir Usuário</h1>
<form nz-form [formGroup]="usuarioForm">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nome" nzRequired>Nome</nz-form-label>
    <nz-form-item>
        <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Informe o nome">
            <input nz-input id="nome" formControlName="nome" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cpf" nzRequired>CPF</nz-form-label>
    <nz-form-item>
        <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Informe o cpf">
            <input nz-input id="cpf" formControlName="cpf" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dataNascimento" nzRequired>Data de Nascimento</nz-form-label>
    <nz-form-item>
        <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Informe a data de nascimento">
            <nz-date-picker style="width: 100%;" [nzFormat]="dateFormat" formControlName="dataNascimento" [nzPlaceHolder]="'selecione a data de nascimento'"></nz-date-picker>
        </nz-form-control>
    </nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="telefone" nzRequired>Telefone</nz-form-label>
    <nz-form-item>
        <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Informe o telefone">
            <input nz-input id="telefone" formControlName="telefone" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
    <nz-form-item>
        <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Informe o e-mail">
            <input nz-input formControlName="email" id="email" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="quantidadePontos" nzRequired>Quantidade de Pontos</nz-form-label>
    <nz-form-item>
        <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Informe a quantidade de pontos">
            <input nz-input id="quantidadePontos" formControlName="quantidadePontos" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="senha" nzRequired>Senha</nz-form-label>
    <nz-form-item>
        <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Informe a senha">
            <input nz-input type="password" id="senha" formControlName="senha"
                (ngModelChange)="updateConfirmValidator()" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="confirmacaoSenha" nzRequired>Confirmação de senha</nz-form-label>
    <nz-form-item>
        <nz-form-control [nzSm]="6" [nzXs]="24" [nzErrorTip]="errorTpl">
            <input nz-input type="password" formControlName="confirmacaoSenha" id="confirmacaoSenha" />
            <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                    Confirme sua senha!
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                    Senhas incompatíveis!
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="situacao">Situação</nz-form-label>
    <nz-form-item>
        <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Informe a situação">
            <nz-switch formControlName="situacao"></nz-switch>
        </nz-form-control>
    </nz-form-item>
    <div *ngIf="!clienteCad">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="perfil" nzRequired>Perfil</nz-form-label>
        <nz-form-item>
            <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Informe o perfil">
                <nz-select formControlName="perfil">
                    <nz-option *ngFor="let perfil of perfis" [nzValue]="perfil" [nzLabel]="perfil.nome"></nz-option>
                  </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div>
    <nz-form-item nz-row class="register-area">
        <nz-form-control nz-col nzSm="2" nzXs="24">
            <button nz-button nzType="primary" (click)="salvar()">Salvar</button>
        </nz-form-control>
        <nz-form-control nz-col nzSm="2" nzXs="24">
            <button nz-button nzType="default" (click)="voltar()">Voltar</button>
        </nz-form-control>
    </nz-form-item>
</form>