<h1>Visualização Modalidade de Espaço</h1>
<label>Nome</label>
<p><strong>{{premiacao?.nome}}</strong></p>
<label>Descrição</label>
<p><strong>{{premiacao?.descricao}}</strong></p>
<label>Pontos Necessários</label>
<p><strong>{{premiacao?.pontosNecessarios}}</strong></p>
<label>Situação</label>
<p><strong>{{(!premiacao?.situacao) ? 'Inativa' : 'Ativo'}}</strong></p>
<div nz-row class="register-area">
    <div nz-col nzSm="2" nzXs="24">
        <button nz-button nzType="default" (click)="voltar()">Voltar</button>
    </div>
</div>